{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block title %}مقاله{% endblock %}
{% block main %}
<div class="content-wrapper" style="min-height: 395px;">
            <div class="card card-primary m-3">
              <div class="card-header">
                <h3 class="card-title float-left">افزودن مقاله</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">{{ form.title|as_crispy_field }}</div>
                        <div class="col-6">{{form.slug|as_crispy_field}}</div>
                    </div>
                    {% if request.user.is_superuser %}
                        <div class="row">
                            <div class="col-6">{{ form.author|as_crispy_field }}</div>
                            <div class="col-6">{{ form.status|as_crispy_field }}</div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12">{{ form.description|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col-6">{{form.category|as_crispy_field}}</div>
                        <div class="col-6">{{form.publish|as_crispy_field}}</div>
                    </div>
                    <div class="row">
                        <div class="col-6">{{form.images|as_crispy_field}}</div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-success">ارسال مقاله</button>
                  {% if request.resolver_match.url_name == "article_update" %}
                    <a href="{% url 'account:article_delete' article.pk %}" class="btn btn-danger">حذف مقاله</a>
                  {% endif %}
                </div>
              </form>
            </div>
</div>
{% endblock %}