{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block title %}تغیر گذرواژه{% endblock %}
{% block main %}
<div class="content-wrapper" style="min-height: 395px;">
            <div class="card card-primary m-3">
              <div class="card-header">
                <h3 class="card-title float-left">
                  تغیر گذرواژه
                </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">{{ form.old_password|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col-6">{{ form.new_password1|as_crispy_field }}</div>
                        <div class="col-6">{{form.new_password2|as_crispy_field}}</div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-success">تغیر گذرواٰژه</button>
                    <a href="{% url 'account:profile' %}" class="btn btn-danger">برگشت</a>
                </div>
              </form>
            </div>
</div>
{% endblock %}