{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block title %}پروفایل{% endblock %}
{% block main %}
<div class="content-wrapper" style="min-height: 395px;">
            <div class="card card-primary m-3">
              <div class="card-header">
                <h3 class="card-title float-left">
                  پروفایل
                </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">{{ form.username|as_crispy_field }}</div>
                        <div class="col-6">{{form.email|as_crispy_field}}</div>
                    </div>
                    <div class="row">
                        <div class="col-6">{{ form.first_name|as_crispy_field }}</div>
                        <div class="col-6">{{form.last_name|as_crispy_field}}</div>
                    </div>
                    <div class="row">
                        <div class="col-6">{{form.is_author|as_crispy_field}}</div>
                        <div class="col-6"><a href="{% url 'password_change' %}">تغیر گذرواژه</a></div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-success">ذخیره</button>
                    <a href="{% url 'account:ProfileDelete' %}" class="btn btn-danger">حذف اکانت</a>
                </div>
              </form>
            </div>
</div> 
{% endblock %}