{% extends 'registration/base.html' %}
{% load humanize %}
{% block title %}ودیو های ما{% endblock %}
{% block main %}
<div class="content-wrapper" style="min-height: 53px;">
	<div class="col-12 my-3">
    <div class="card">
      <div class="card-header bg-primary">
        <h3 class="card-title float-left">ودیو های ما</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>شماره</th>
              <th>عنوان</th>
              <th>حذف ویدو</th>
            </tr>
          </thead>
          <tbody>
            {% for video in object_list	 %}
            	<tr>
            		<td>{{forloop.counter}}</td>
                	<td><a href="{% url 'account:video_update' video.pk %}" target="_blank">{{video.video_title}}</a></td>
                  <td><a  class="badge badge-danger" href="{% url 'account:video_delete' video.pk %}">حذف ودیو</a></td>
            	</tr>
          	{% empty %}
          		<p>متاسفانه محتویاتی برای نمایش وجود ندارد</p>
          	{% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
{% endblock %}