{% load humanize %}
<section class="category category-right">
	<div class="cat">
		{% for category in categorys %}
			<p class="title">{{category.title}}</p>
			{% for article in category.articles.published %}
				{% if  forloop.counter > 3 %}
				{% else %}
					<hr>
					<div class="box">
						<div>	
							<div class="title"><a href="{% url 'blog:detail' article.slug %}" style="color: var(--font-gray);">{{article.title}}</a></div>
							<div class="publish"><i class="fa fa-user"></i><a href="{% url 'blog:author_list' article.author.username %}">{{article.author.get_full_name}}</a><br><i class="fa-solid fa-clock"></i>{{ article.publish | naturaltime }}</div>
						</div>
						<div class="img" style="background-image: url({{article.images.url}});"></div>
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</section>
 