{% load humanize %}
<section class="slider-wrapper">
	<div id="example1" class="slider-pro">
		<div class="sp-slides">
			{% for article in articles %}
				<div class="sp-slide">
	        	<img class="sp-image" src="{{article.article.images.url}}"
	        		data-src="{{article.article.images.url}}"
	        		data-retina="{{article.article.images.url}}"/>

				<h3 class="sp-layer sp-black sp-padding" 
					data-horizontal="40" data-vertical="10%" 
					data-show-transition="left" data-hide-transition="left">
					{{article.article.title}}
				</h3>

				<!-- <p class="sp-layer sp-white sp-padding hide-medium-screen" 
					data-horizontal="40" data-vertical="22%" 
					data-show-transition="left" data-show-delay="200" data-hide-transition="left" data-hide-delay="200">
					consectetur adipisicing elit
				</p>

				<p class="sp-layer sp-black sp-padding hide-small-screen" 
					data-horizontal="40" data-vertical="34%" data-width="350" 
					data-show-transition="left" data-show-delay="400" data-hide-transition="left" data-hide-delay="500">
					sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p> -->
			</div>
			{% endfor %}
		</div>
	</div>
</section>