@font-face {
  font-family: tanha;
  src: url('../fonts/poppins/Tanha.ttf'); 
}
body{
	direction: rtl;
	font-family: tanha ;
}
.input100 {
  margin-right: 20px;
}
.login100-form-title{
	font-family: tanha;
}
.input100 {
  font-family: tanha;
}
.txt1{
  font-family: tanha;
}

.limiter > p {
  font-family: tanha;
  font-size: 16px;
  padding: 14px 30px;
  color: #7579ff;
}
.login100-form-btn{
  font-family: tanha;
}